# ${monitor数据保存时间}
RETENTION_PERIOD=15d
# ${日志存储的最大空间}
VLOG_MAX_DISK_SPACE_USAGE_BYTES=50GiB
# {内部数据库账号}
POSTGRES_USER=postgres
# {内部数据库密码}
POSTGRES_PASSWORD=123456
# {git仓库admin账号}
GITEA_ADMIN_USERNAME=gitea
# {git仓库admin密码}
GITEA_ADMIN_PASSWORD=123456
# ${wp-monitor地址(请将下面localhost替换为本机IP)}
WP_MONITOR_URL=http://localhost:18080
# ${AI代理地址(如果不使用AI代理可不填)}
STATION_AI_BASE_URL=""
